<!--suppress HtmlUnknownAttribute, HtmlFormInputWithoutLabel -->
<div class="container">
  <mat-card class="mat-elevation-z12">
    <mat-card-title>Welcome</mat-card-title>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Sign In">
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit('login')">
            <!--username-->
            <mat-form-field appearance="outline">
              <mat-label>UserName</mat-label>
              <input #userName matInput formControlName="username" maxlength="15" required>
              <mat-icon matSuffix>face</mat-icon>
              <mat-error *ngIf="loginForm.controls.username.hasError('required')">
                username is required
              </mat-error>
              <mat-hint align="end">{{userName.value.length}} / 15</mat-hint>
            </mat-form-field>

            <!--password-->
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" [type]="hidePwd ? 'password' : 'text'" required>
              <mat-icon matSuffix (click)="hidePwd = !hidePwd">{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                password is required
              </mat-error>
              <mat-hint align="end">character & numbers</mat-hint>
            </mat-form-field>

            <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Login</button>
          </form>
        </mat-card-content>
      </mat-tab>

      <mat-tab label="Sign Up">
        <mat-card-content>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit('register')">
            <!--username-->
            <mat-form-field appearance="outline">
              <mat-label>UserName</mat-label>
              <input matInput formControlName="username" maxlength="15" required>
              <mat-icon matSuffix>face</mat-icon>
              <mat-error *ngIf="registerForm.controls.username.hasError('required')">
                username is required
              </mat-error>
              <mat-hint>your user name</mat-hint>
            </mat-form-field>

            <!--password-->
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" [type]="hidePwd ? 'password' : 'text'" required>
              <mat-icon matSuffix (click)="hidePwd = !hidePwd">{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="registerForm.controls.password.hasError('required')">
                password is required
              </mat-error>
              <mat-hint>your password</mat-hint>
            </mat-form-field>

            <!--email-->
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required email>
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="registerForm.controls.email.hasError('required')">
                email is required
              </mat-error>
              <mat-error *ngIf="registerForm.controls.email.hasError('email')">
                wrong email provided
              </mat-error>
              <mat-hint>your email</mat-hint>
            </mat-form-field>

            <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Register</button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
