/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* shared style */
.icon-text {
  display: flex !important;
  align-items: center;

  span {
    margin-left: 6px;
  }
}
.avatar-circle-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  &:hover {
    box-sizing: border-box;
    border: #EEEEEE solid 3px;
    border-radius: 50%;
  }

  mat-icon {
    height: 24px;
    width: 24px;
  }
}

/* custom dialog panel class */
.common-snackbar {
  background: #ffffff;
}

/* custom global mat-tab */
.mat-tab-label {
  padding: 0 !important;
  min-width: 120px !important;

  &:hover {
    background-color: rgba(0,0,0,0.04);
  }
}

.mat-tab-label-active {
  color: #3367d6;
}

.mat-tab-nav-bar, .mat-tab-header {
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

/* custom global mat-step */
.mat-vertical-content {
  padding-bottom: 0 !important;
}

/* custom expansion panel */
.mat-expansion-panel-header {
  height: 48px !important;
  padding: 0 20px;
}
.mat-expansion-panel-body {
  padding-bottom: 0 !important;
}

/* custom global mat-tooltip */
.mat-tooltip {
  color: #FAFAFA !important;
}

/* custom global mat-list */
mat-list {
  overflow: auto;
}
